.section {
  width: 90%;
  margin: 0 5%;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 2% 5%;
  min-height: 50vh;
}

.container-user {
  padding-top: 71.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-card {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.index {
  margin: 0 0.5rem;
}

.icon {
  margin: 0 5px;
  font-size: 25px;
  color: green;
}

.info {
  color: green;
  margin-left: auto;
}

@media only screen and (min-width: 800px) {
  .container-user {
    flex-direction: row;
  }
}
