.section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.btn-submit {
  width: 100%;
}

.li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
}

.ul {
  padding: 0;
}

@media only screen and (min-width: 650px) {
  .section {
    width: 25%;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 25%;
    margin: auto;
  }
}
