/*containers*/
.container {
  margin: 10vh 5vw 5vh 2vw;
}

.container-header {
  margin-bottom: 2vh;
}

.cards-container {
  min-height: 45vh;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*elements*/
.title-header {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

/*pagination*/
.pagination {
  align-items: center;
  max-height: 50vh;
}

/*filters*/
.filter {
  width: 150px;
  margin: 2vh 1vh 0 0;
}

/*search*/
.search-list {
  margin-top: 0.5vh;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  position: absolute;
  z-index: 9999;
}

.search-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 20px;
  color: black;
}

.search-list-item:hover {
  background-color: lightgrey;
}

.search-box {
  display: block;
}

@media only screen and (max-width: 650px) {
  .search-bar {
    width: auto;
  }

  .search-list {
    width: 93%;
  }

  .container-flex {
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    margin: 10vh 10vw;
  }

  .search-bar,
  .search-list {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 10vh 15vw;
  }

  .search-bar,
  .search-list {
    width: 500px;
  }
}
