.stepper {
  display: flex;
  width: 80%;
  margin-inline: auto;
  height: 10vh;
  margin-top: 7vh;
}

.stepper ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav span {
  color: black;
}

span.nav-link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

span.nav-link.active {
  border-bottom: 3px solid #19376d;
}

.error {
  display: flex;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
