.field-error {
  border-color: red;
}

/* input {
  width: 100%;
  height: 25px;
} */

.form-input {
  width: 100%;
  height: 25px;
  gap: 20px;
}

.field-container {
  width: 100%;
  margin-bottom: 10px;
}

.confirm-form-container {
  padding-bottom: 2vh;
  margin: 0 11%;
}

.text-box {
  max-width: 400px;
  overflow-wrap: break-word;
}

/* h4 {
  border-bottom: 3px solid #19376d;
} */

.btn-edit {
  background-color: #19376d;
  color: fff;
}

.state-info {
  color: #19376d;
  font-weight: 600;
}

.p-confirm {
  text-align: left;
}

.ReactModal__Content {
  width: 50%;
  height: 50%;
  margin: auto;
}

.image-link {
  cursor: pointer;
}
