.stepper {
  width: 80%;
  margin: 2rem auto 0;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.1rem;
}

.nav-link-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.nav-link-active {
  border-bottom: 3px solid #19376d;
}
