.stepper {
  display: flex;
  width: 80%;
  margin-inline: auto;
  height: 6vh;
  margin-top: 15vh;
}

.stepper ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-span {
  color: black;
}

.nav-link-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.nav-link-active {
  border-bottom: 3px solid #19376d;
}

.navbar-nav {
  list-style-type: none;
}

.error {
  display: flex;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
