.container-layout {
  display: flex;
  flex-direction: row;
}

.title,
.title-secondary {
  text-align: center;
}

.title-secondary {
  margin: 0;
}

.container-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.description {
  word-break: break-all;
}

.info-error {
  color: red;
}

.no-candidates {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}
