.container-layout {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.title-secondary {
  text-align: center;
}

.title-secondary {
  margin: 0;
}

.container-btn {
  display: flex;
  gap: 20px;
}

.description {
  word-break: break-all;
}

.info-error {
  color: red;
}

.no-candidates {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.date {
  display: flex;
  flex-direction: column;
}

.span {
  font-weight: bold;
  color: #19376d;
}

@media only screen and (min-width: 650px) {
  .container-btn {
    margin-top: 2vh;
  }
}
