.container {
  margin-bottom: 2vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  flex-direction: row;
  position: relative;
}

.title {
  margin: 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: larger;
  width: auto;
}

.title:hover {
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
}
