.modal {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.hr {
  border: 1px solid black;
  width: 100%;
}

.location {
  margin-top: 0;
}

.results {
  margin-bottom: 0;
}

.politicalParty {
  font-weight: bold;
  color: #19376d;
}
