.container {
  width: 90%;
  max-height: 50vh;
  margin: 0 5% 2%;
  background-color: #6e6c7f;
  color: #ffe4fa;
  border: 1px solid black;
  padding: 10px;
}

.nav-list {
  padding: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #ffe4fa;
  transition: background 0.25s, box-shadow 0.15s;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: #4a4860;
  background: #ffc4eb;
  box-shadow: 0px 3px 0px 0px #bb8eac;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 20%;
    margin: 0 0 0 5%;
    background-color: #6e6c7f;
    color: #ffe4fa;
    border: 1px solid black;
    padding: 10px;
  }
}
