.container-user {
  padding-top: 71.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-details-list {
  list-style-type: none;
  padding: 0;
}

.header-validate {
  color: red;
  padding: 5px 1rem;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.section {
  width: 90%;
  margin: 0 5%;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 2% 5%;
}

.section-validate-account {
  margin-top: 1rem;
}

.container-user-details p {
  text-align: left;
}

.hr {
  border: 1px solid #19376d;
  margin: 1% 0 2%;
}

.btn-edit {
  height: 2rem;
  margin: 0;
  width: 100%;
}

.link,
.link-validation {
  text-decoration: none;
  color: inherit;
}

.link-validation:hover {
  text-decoration: underline;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  text-align: center;
}

.p-warning {
  display: block;
  padding: 5px 0 5px 10px;
  margin: 0;
}

.span-btn {
  font-style: italic;
}

.section-header {
  display: flex;
  align-items: center;
}

.span {
  color: #19376d;
  font-weight: 600;
}

.icon-success {
  color: green;
}

.icon-error {
  color: red;
}

.div-verifications {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .container-user {
    flex-direction: row;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-edit {
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
}
