.container-user {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.user-details-list {
  list-style-type: none;
}

.container-user-details,
.container-user-validate-account {
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-top: 1%;
  margin-right: 4%;
  padding-left: 1%;
  min-height: 50vh;
}

.container-user-details p {
  text-align: left;
}

.container-user-details hr {
  border: 1px solid #19376d;
  margin-right: 1%;
}

.btn-edit {
  border: 1px solid black;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: 0 auto 1%;
}

.btn-edit:hover {
  background-color: white;
  color: black;
}
