.option-title {
  margin: 0.5rem;
  font-size: 3rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.option {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-card {
  width: 100%;
}
