.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.card-vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  margin-top: 1rem;
  width: 100%;
}

.title-modal {
  margin-top: 0;
}
.btn-card {
  width: 100%;
}

.hr {
  border: 1px solid black;
  margin: 0 1rem;
}
