.container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding-top: 51.2px;
  overflow: auto;
}

.form-container,
.container-info {
  width: 100%;
  height: 100%;
  display: grid;
}

.img-container {
  position: sticky;
  top: 0;
  height: calc(100vh - 51.2px);
}

.input {
  width: 100%;
}

.form-default,
.p-confirmation {
  margin: auto 24%;
}

.section-logout {
  width: 42%;
  margin: auto 10%;
}
.title-auth {
  font-family: "Roboto", bold;
  margin-bottom: 6vh;
  font-size: 1.5rem;
}

/*Elements*/
.p-auth {
  text-align: center;
}

.a-auth {
  color: #2d9fc2;
  text-decoration: none;
}

.a-auth:hover {
  color: black;
  text-decoration: underline;
}

.email {
  border: 1px solid black;
}

.span-auth {
  color: red;
  font-size: var(--sl-font-size-small);
}

.field-error {
  color: red;
}

.section-row {
  display: flex;
  width: 100%;
}
.fieldset {
  display: flex;
  flex-direction: column;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.section-row div {
  display: flex;
  margin-bottom: 0.5rem;
}

.section-row div:first-child {
  width: 50%;
}

.section-row div:last-child {
  width: 50%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-form {
  display: flex;
  margin: 24px 0 auto 0;
}

.input {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container {
  display: grid;
}

.btn-submit {
  margin-top: 1rem;
  width: 200px;
}

.form {
  margin: 2rem 11% 3rem;
}

/*Desktops, large screens*/
@media only screen and (max-width: 1200px) {
}

/*Small screens, laptops*/
@media only screen and (max-width: 1024px) {
  .form-default {
    margin: auto 20%;
  }
}

/*iPads, Tablets*/
@media only screen and (max-width: 768px) {
  .form-default {
    margin: auto 18%;
  }
}

/*Mobile devices*/
@media only screen and (max-width: 650px) {
  .img-container {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .form-container,
  .container-info {
    width: 100%;
  }

  .form-default {
    width: 65%;
    margin: 5% auto;
  }
}
