.container {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
}

.form-container {
  display: grid;
  width: 48%;
  min-height: 92vh;
}

.img-container {
  position: relative;
  width: 52%;
  height: 92vh;
  margin-top: 8vh;
}

.form-default {
  margin: auto 24%;
}

.title-auth {
  font-family: "Roboto", bold;
  margin-bottom: 6vh;
  font-size: 1.5rem;
}

/*Elements*/
.p-auth {
  text-align: center;
}

.a-auth {
  color: #2d9fc2;
  text-decoration: none;
}

.error::part(base),
.error::part(combobox) {
  border: 2px solid var(--sl-color-danger-600);
}

.error::part(base):focus-within,
.error::part(combobox):focus-within,
.error::part(combobox):hover {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

.email {
  border: 1px solid black;
}

.span-auth {
  color: red;
  font-size: var(--sl-font-size-small);
}

#login-password,
#login-email {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

/*Desktops, large screens*/
@media only screen and (max-width: 1200px) {
}

/*Small screens, laptops*/
@media only screen and (max-width: 1024px) {
  .form-default {
    margin: auto 20%;
  }
}

/*iPads, Tablets*/
@media only screen and (max-width: 768px) {
  .form-default {
    margin: auto 18%;
  }
}

/*Mobile devices*/
@media only screen and (max-width: 600px) {
  /* .container {
    display: grid;
    width: 48%;
    min-height: 92vh;
  } */

  /* .img-container {
    position: relative;
    width: 52%;
    height: 91vh;
    margin-top: 9vh;
  }
   */
  .img-container {
    display: none;
  }

  .form-container {
    margin-top: 6vh;
    width: 100%;
  }

  .form-default {
    width: 65%;
    margin: 5% auto;
  }
}
