.title {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.label-event {
  display: inline-block;
  margin: 1rem 1rem 0 0;
}

.label-event-name {
  width: 100%;
}

.input-referendum {
  display: block;
}

.btn-submit {
  margin: 2vh auto 0;
  width: 150px;
}
