.container {
  padding-top: 50px;
}

.cards-container {
  margin: 1rem 5vw;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  min-height: 300px;
  margin: 5px;
  border: 1px solid black;
  transition: background 0.25s, box-shadow 0.15s;
}

.card-link {
  object-fit: contain;
  text-decoration: none;
  height: 200px;
  width: 100%;
  max-height: 200px;
}

.card-link:active,
.card-link:visited {
  color: rgb(0, 102, 204);
}

.card:hover {
  color: #4a4860;
  background: #ffc4eb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image-card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 100%;
  max-height: 200px;
  border-bottom: 2px solid black;
}

@media only screen and (min-width: 620px) {
  .cards-container {
    margin: 1rem 10vw;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-container {
    margin: 1rem 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .cards-container {
    margin: 1rem 17.5vw;
  }
}

@media only screen and (min-width: 1580px) {
  .cards-container {
    margin: 1rem 20vw;
  }
}
