.cards-container {
  width: 90%;
  margin: 1.5% auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 5px;
  flex: 1 0 20%;
  width: 25%;
  min-width: 200px;
  margin: 5px;
  border: 1px solid black;
  transition: background 0.25s, box-shadow 0.15s;
}

.card:hover {
  color: #4a4860;
  background: #ffc4eb;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image-card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: auto;
  max-height: 200px;
  width: 100%;
  border-bottom: 2px solid black;
}

/* 
@media only screen and (max-width: 600px) {
  img {
    height: 49vh;
  }
} */
